<%= form_for([@professional_profile.user,@professional_profile,@extra_skill]) do |f| %>
 <%= render 'layouts/error_messages', object: f.object %>
 <div class="form-group">
   <%= f.hidden_field :professional_profile_id, value: @professional_profile.id %>
   <%= f.label :name, class: 'col-xs-3' %>
   <div class='col-xs-9'>
     <%= f.text_field :name, class: "form-control" %>
   </div>
 </div> 
 <div class="form-group">
   <%= f.label :level, class: 'col-xs-3' %>
   <div class='col-xs-9'>
     <%= f.select :level, selection_level %>
   </div>
 </div> 
  <div class="actions">
    <%= f.submit  class:  "btn btn-default"%>
  </div>
<% end %>
