<p id="notice"><%= notice %></p>

<h1>Listing Info Personals</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Rg</th>
      <th>Cpf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @info_personals.each do |info_personal| %>
      <tr>
        <td><%= info_personal.nome %></td>
        <td><%= info_personal.email %></td>
        <td><%= info_personal.rg %></td>
        <td><%= info_personal.cpf %></td>
        <td><%= link_to 'Show', info_personal %></td>
        <td><%= link_to 'Edit', edit_info_personal_path(info_personal) %></td>
        <td><%= link_to 'Destroy', info_personal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Info personal', new_info_personal_path %>
