<center><h2>Cadastrar-se</h2></center>

<%= form_for(@resource, url: new_registration_path) do |f| %>
  <% if not @resource.errors.empty? %>
    <div id="error_explanation">
    <h2><%=  I18n.t("errors.messages.not_saved",
             count: @resource.errors.count,
            resource: @resource.class.model_name.human.downcase) %></h2>
    <ul>
        <% @resource.errors.full_messages.each  do |text| %>
            <li><%= text %></li>
        <% end %>
    </ul></div>
  <% end %>
<label for="basic-url">Email novo:</label>
<div class="input-group">
  <%= f.text_field :email, autofocus: true %>
  <span class="input-group-addon" id="basic-addon3">@zenitaerospace.com</span>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>

