<h1>Perfil do usuário</h1>
<hr>
<div class="medium-6 columns">
    <p> 
        <label>
            <strong>Email Zenit:</strong>
            <%= @user.email %>
        </label>
    </p>
</div>
<hr>
<% if not @user.personal_information.nil? %>

    <% @information=@user.personal_information  %>
    <%= render :partial => 'personal_informations/show' %>

<% elsif @user.eql? current_user or policy(current_user).create?%>

    <%= button_to "Adicionar informações pessoais", 
        new_user_personal_information_path(@user), :class => "btn btn-default",
        :method => :get %>
<% end %>

<hr>

<% if not @user.academic_information.nil? %>

    <% @academic_information=@user.academic_information  %>
    <%= render :partial => 'academic_informations/show' %>
    <%= render :partial => 'timetabling/show' %>

<% elsif @user.eql? current_user or policy(current_user).create?%>

    <%= button_to "Adicionar informações acadêmicas", 
        new_user_academic_information_path(@user), :class => "btn btn-default",
        :method => :get %>
<% end %>
