
<%= form_for [@project], role: "form", html: { multipart: true, class: 'form-horizontal' } do |f| %>
<%= render 'layouts/error_messages', object: f.object %>
  
  <div class="form-group">
    <%= f.label :project_name, class: 'col-xs-3' %>
    <div class='col-xs-9'><%= f.text_field :project_name, class: "form-control", placeholder: "Ex: Construção de aeromodelo" %></div>
  </div>
  <div class="form-group">
    <%= f.label :project_description, class: 'col-xs-3' %>
    <div class='col-xs-9'><%= f.text_field :project_description, class: "form-control", placeholder: "Ex: Construção de aeromodelo é ..." %></div>
  </div>
  <div class="form-group">
    <%= f.label :manager_name, class: 'col-xs-3' %>
    <div class='col-xs-9'><%= f.text_field :manager_name, class: "form-control", placeholder: "Ex: Ferdinando Valdisney" %></div>
  </div>
  
  <div class="col-xs-12 alert alert-danger" id='error-image' style='display: none;' role="alert" ></div>
  <div class="actions"><%= f.submit({class: "btn btn-primary"}) %></div>

<% end %>
