<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Preencha o formulário </h4>
  </div>

  <div class="row">
    <ul class="info-group">
        <li class='info-group-item'>
          <label>Nome do projeto:</label>
    		  <%= @project.name %>
        </li>
        <li class='info-group-item'>
          <label>Descrição do projeto:</label>
            <%= @project.description %>
        </li>
        <li class='info-group-item'>
          <label>Nome do gestor:</label>
            <%= @project.user.email %>
        </li>
    </ul>
  </div>
</div>

<%= button_to "Editar", edit_project_path(@project), :class => "btn btn-primary", :method => :get %>
<%= button_to 'Voltar', projects_path, :class => "btn btn-primary", :method => :get %>
</div>

