<%= form_for [@user, @academic_information], role: "form", html: { multipart: true, class: 'form-horizontal' } do |f| %>
<%= render 'layouts/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :registration, class: 'col-xs-3' %>
    <div class='col-xs-9'><%= f.text_field :registration, class: "form-control", placeholder: "Ex: 99/9999999" %></div>
  </div>
  <div class="form-group">
    <%= f.label :admission_year, class: 'col-xs-3' %>
    <div class='col-xs-9'><%= f.text_field :admission_year, class: "form-control", placeholder: "Ex: 01/2014" %></div>
  </div>
  <div class="form-group">
    <%= f.label :current_semester, class: 'col-xs-3' %>
    <div class='col-xs-9'><%= f.text_field :current_semester, class: "form-control", placeholder: "Ex: 01" %></div>
  </div>
  
  <div class="col-xs-12 alert alert-danger" id='error-image' style='display: none;' role="alert" ></div>
  <div class="actions"><%= f.submit({class: "btn btn-primary"}) %></div>

<% end %>
