<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Inserir informações acadêmicas</h4>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Selecione as matérias da sua grade atual</h4>
  </div>

<div class="panel-body">
  <ul class="col-lg-24">
    <table cellpadding="10" cellspacing="1">
    <tr>
        <th width="100">Dias da semana / Horarios</th>
        <th class="days">Segunda</th>
        <th class="days">Terca</th>
        <th class="days">Quarta</th>
        <th class="days">Quinta</th>
        <th class="days">Sexta</th>
        <th class="days">Sabado</th>
      </tr>
      <tr>
        <th class="hours">08 - 10</th>
        <% for i in 0..5 %>
          <td><div class="content" id="<%= i %>" onclick="firstElementVector(event);"  data-toggle="modal" data-target="#myModal">-</div></td>
        <% end%> 
      </tr>
      <tr>
        <th class="hours">10 - 12</th>
        <% for i in 6..11 %>
          <td><div class="content" id="<%= i %>" onclick="firstElementVector(event);"  data-toggle="modal" data-target="#myModal">-</div></td>
        <% end%>
      </tr>
      <tr>  
        <th class="hours">12 - 13</th>
        <% for i in 12..17 %>
          <td><div class="content" id="<%= i %>" onclick="firstElementVector(event);"  data-toggle="modal" data-target="#myModal">-</div></td>
        <% end%>
      </tr>
      <tr>
        <th class="hours">13 - 14</th>
        <% for i in 18..23 %>
          <td><div class="content" id="<%= i %>" onclick="firstElementVector(event);"  data-toggle="modal" data-target="#myModal">-</div></td>
        <% end%>
      </tr>
      <tr>
        <th class="hours">14 - 16</th>
        <% for i in 24..29 %>
          <td><div class="content" id="<%= i %>" onclick="firstElementVector(event);"  data-toggle="modal" data-target="#myModal">-</div></td>
        <% end%>
      </tr>
      <tr>
        <th class="hours">16 - 18</th>
        <% for i in 30..35 %>
          <td><div class="content" id="<%= i %>" onclick="firstElementVector(event);"  data-toggle="modal" data-target="#myModal">-</div></td>
        <% end%>
      </tr> 
      <tr>
        <th class="hours">18 - 20</th>
        <% for i in 36..41 %>
          <td><div class="content" id="<%= i %>" onclick="firstElementVector(event);"  data-toggle="modal" data-target="#myModal">-</div></td>
        <% end%>
</table>
  </ul>
</div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Disciplinas</h4>
      </div>
     
      <% number_div_id = 50 %>
     
      <div class="modal-body">
        <table cellpadding="10" cellspacing="1">
          <tbody>
          <% @subjects.each do |subject| %>
            <tr>
              <td><a href="" onclick="changeElements(secondElementVector(event)); return false;" id="<%= number_div_id+=1 %>"><%= subject.name %></a></td>
            </tr>
          <% end %>

          </tbody> 
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="content" onclick="takeElements();" >Aperte aqui para salvar a grade (Depois olhe no console)</div>
