<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Inserir informações acadêmicas</h4>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Selecione as matérias da sua grade atual</h4>
  </div>

<div class="panel-body">
  <ul class="col-lg-24">
    <table cellpadding="10" cellspacing="1">
        <thead>
            <tr>
                <th width="100">Dias da semana / Horarios</th>
                <% Date::DAYNAMES.slice(1,6).each do |days| %>
                    <th class="days"><%= t(days) %></th>
                <% end %>
            </tr>
        </thead>
        <% %w(08-10 10-12 12-13 13-14 14-16 16-18).each do |hour|%>
            <tr >
                <td class="hours"><%= hour %></td>
                <% 6.times do |day| %>
                    <td>
                        <div class="content" id="<%= "#{hour}#{day}" %>" data-toggle="modal" data-target="#myModal" onclick="getElement(this);"><%= @timetabling["#{hour}#{day}"] %></div>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </table>
  </ul>
</div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Disciplinas</h4>
      </div>
      <div class="modal-body">
        <div class="list-group">
            <button class="list-group-item" type="button" onclick="update(0,'<%= user_timetabling_index_path(@user) %>',<%= '1' %>)">--</button >
          <% @subjects.each do |subject| %>
            <button class="list-group-item" type="button" onclick="update(<%= subject.id %>,'<%= user_timetabling_index_path(@user) %>',<%= '2' %>)"><%=subject.name%></button>
          <% end %>
        </div>
      <!--
        <table cellpadding="10" cellspacing="1">
          <tbody>
          <!% @subjects.each do |subject| %>
            <tr>
              <td><a href="" onclick="changeElements(secondElementVector(event)); return false;" id="<!%= number_div_id+=1 %>"><!%= subject.name %></a></td>
            </tr>
          <!% end %>

          </tbody> 
        </table>
        -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="content" onclick="takeElements();" >Aperte aqui para salvar a grade (Depois olhe no console)</div>
