<p id="notice"><%= notice %></p>

<h1>Listing Profissional Informations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profissional_informations.each do |profissional_information| %>
      <tr>
        <td><%= link_to 'Show', profissional_information %></td>
        <td><%= link_to 'Edit', edit_profissional_information_path(profissional_information) %></td>
        <td><%= link_to 'Destroy', profissional_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profissional information', new_profissional_information_path %>
