<%= form_for [@user,@information], role: "form", html: { multipart: true, class: 'form-horizontal' } do |f| %>
  <% if @information.errors.any? %>
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
      <h2>Não foi possível alterar as infomações. <%= pluralize(@information.errors.count, "erro") %>:</h2>
      <ul>
          <% @information.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      </ul>
    </div>
  <% end %>

 <!--     <div class="medium-6 columns">
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/250x250">
      </div>
        <ul class="menu">
      <input type="file" id="myFile">
        </ul>
      </div> -->
    <div class="form-group">
      <%= f.label :name, class: 'col-xs-3' %>
      <div class="col-xs-9">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email, class: 'col-xs-3' %>
      <div class='col-xs-9'><%= f.text_field :email, class: "form-control" %></div>
    </div>
    <div class="form-group">
      <%= f.label :rg, class: 'col-xs-3' %>
      <div class='col-xs-9'><%= f.text_field :rg, class: "form-control", placeholder: "0000000" %></div>
    </div>
    <div class="form-group">
      <%= f.label :cpf, class: 'col-xs-3' %>
      <div class='col-xs-9'><%= f.text_field :cpf, class: "form-control", placeholder: "00000000000" %></div>
    </div>
    <div class="form-group">
      <%= f.label :birthday, class: 'col-xs-3' %>
      <div class='col-xs-9'><%= f.date_field :birthday, class: "form-control", placeholder: "dd/mm/aaaa"  %></div>
    </div>
    <div class="form-group">
      <%= f.label :phone_number, class: 'col-xs-3' %>
      <div class='col-xs-9'><%= f.text_field :phone_number, class: "form-control", placeholder: "(00)00000-0000" %></div>
    </div>
    <div class="form-group">
      <%= f.label :address, class: 'col-xs-3' %>
      <div class='col-xs-9'><%= f.text_field :address, class: "form-control" %></div>
    </div>
    <div class="form-group">
      <div class='col-xs-3'>
      <%= f.label :image, class: ' btn btn-default btn-file' %></div>
      <div class='col-xs-9'>
        <%= f.file_field :image, class: 'form-control', style: 'display: none;'%>
        <p class='form-control-static' id='image-name'>Nenhuma imagem selecionada</p>
      </div>
    </div>
    <div class="col-xs-12 alert alert-danger" id='error-image' style='display: none;' role="alert" ></div>
    <%= f.submit({class: "btn btn-primary"}) %>
    </p>

<% end %>

