  <!--  <div class="medium-6 columns">
    <div class="column">
      <img class="thumbnail" src="http://placehold.it/250x250">
    </div>
  	  <ul class="menu">
		<input type="file" id="myFile">
      </ul>
    </div> -->
    <div class="medium-6 columns">
      <p>
        <%= image_tag @information.image.url(:small) %>
      </p>
      <p>
        <label>
      		<strong>Name:</strong>
        	<%= @information.name %>
      	</label>
      </p>
      <hr>
      <p>
        <label>
          <strong>Idade:</strong>
          <%= @information.age %>
        </label>
      </p>
      <hr>
      <p>
      	<label>
      		<strong>Email:</strong> 
      		<%= @information.email %>
      	</label>
      </p>
      <hr>
      <p>
        <label>
          <strong>Número celular:</strong> 
          <%= @information.phone_number %>
        </label>
      </p>
      <hr>
      <p>
        <label>
          <strong>Data de aniversário:</strong>
          <%= @information.birthday %>
        </label>
      </p>
      <hr>
      <p>
        <label>
          <strong>Endereço:</strong>
          <%= @information.address %>
        </label>
      </p>
      <hr>
      <% if see_edit? @information.user %>
          <p>
            <label>
                <strong>RG: </strong>  
                <%= @information.rg %>
            </label>
          </p>
          <hr>
          <p>	
            <label>
                <strong>CPF: </strong>
                <%= @information.cpf %>
            </label>
          </p> 	
          </div>
        <div class="medium-7 large-6 columns">
                <%= button_to "Editar", edit_user_personal_information_path(@information.user,@information),
                :class => "btn btn-default", :method => :get %>
               <!-- <%= button_to "Voltar", root_path ,:class => "button",
                :method => :get %> -->
        </div>
    <% end %>
