<p id="notice"><%= notice %></p>

<h1>Listing Personal Informations</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Rg</th>
      <th>Cpf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personal_informations.each do |personal_information| %>
      <tr>
        <td><%= personal_information.nome %></td>
        <td><%= personal_information.email %></td>
        <td><%= personal_information.rg %></td>
        <td><%= personal_information.cpf %></td>
        <td><%= link_to 'Show', personal_information %></td>
        <td><%= link_to 'Edit', edit_personal_information_path(personal_information) %></td>
        <td><%= link_to 'Destroy', personal_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personal information', new_personal_information_path %>
