<ul class="nav nav-tabs">
<% @roles_users.each do |role,users| %>
    <li <%= 'class="active"' if role == 'all' %>  ><a data-toggle="tab" href="#<%= role %>"><%= translate("role."+role) %></a>
    </li>
    
<% end %>
</ul>
<div class="tab-content">
<% @roles_users.each do |role,users| %>
    <div id="<%= role %>" class="tab-pane <%= 'in active' if role == 'all' %> ">
      <%= grid(users, show_filters: :when_filtered) do |user_grid|
        user_grid.blank_slate do
          '<div class="alert alert-info" role="alert">Nenhum registro encontrado</div>'
        end
        user_grid.column name: 'Email zenit', attribute: 'email' do |user|
          user.email
        end
        user_grid.column name: 'Ver perfil' do |user|
          link_to 'Perfil', [user,user.personal_information]
        end
        user_grid.column name: 'Permissões' do |user|
          link_to 'Modificar', user_edit_role_path(user)
        end
  
      end %>
    </div>
<% end %>
</div>
<% if @roles_users.empty? %>
  <h1> No users </h1>
<% end %>
