<%= form_for @activity, role: 'form', html: {multipart: true, class:'horizontal-form'} do |f| %>
  <%= render 'layouts/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :name , class: 'col-xs-3'%><br>
    <div class='col-xs-9'><%= f.text_field :name , class: 'form-control' %></div>
  </div>
  <div class="form-group">
    <%= f.label :description , class: 'col-xs-3'%><br>
    <div class='col-xs-9'><%= f.text_area :description , class: 'form-control' %></div>
  </div>
  <div class="form-group">
    <%= f.label :begin_date , class: 'col-xs-3'%><br>
    <div class='col-xs-9'><%= f.date_select :begin_date , class: 'form-control' %></div>
  </div>
  <div class="form-group">
    <%= f.label :end_date , class: 'col-xs-3'%><br>
    <div class='col-xs-9'><%= f.date_select :end_date , class: 'form-control' %></div>
  </div>
  <div class="form-group">
    <%= f.label :status , class: 'col-xs-3'%><br>
    <div class='col-xs-9'><%= f.check_box :status , class: 'form-control' %></div>
  </div>

  <div class="form-group">
    <%= f.label :user_id , class: 'col-xs-3'%><br>
    <div class='col-xs-9'><%= f.select :user_id, User.where.not(role:1).map{ |u| [u.email, u.id] } , class: 'form-control' %></div>
  </div>

  <div class="form-group">
    <%= f.label :project_id , class: 'col-xs-3'%><br>
    <div class='col-xs-9'><%= f.select :project_id, Project.all.map{|p| [p.name, p.id]} , class: 'form-control' %></div>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
