<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @professional_information.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @professional_information.string %>
</p>

<p>
  <strong>Date:</strong>
  <%= @professional_information.date %>
</p>

<p>
  <strong>Date:</strong>
  <%= @professional_information.date %>
</p>

<p>
  <strong>Text:</strong>
  <%= @professional_information.text %>
</p>

<%= link_to 'Edit', edit_professional_information_path(@professional_information) %> |
<%= link_to 'Back', professional_informations_path %>
